*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d8f3f7;;
}

.header{
    font-family: "Protest Riot", sans-serif;
    text-align: center;
    max-width: 60%;
    margin: auto;
    font-size: 50px;
    font-weight: bold;
    color: #02667a;
}

.container{
    position: relative;
    width: 80%;
    margin: auto;
    background-color: red;
    margin-top: 60px;
}

.overlap{
    background-color: #81d0e0;
    width: 300px;
    height: 100px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.steps{
    font-family: "Protest Riot", sans-serif;
    font-size: 150px;
    font-weight: bold;
    color: #02667a;
    position: absolute;
    z-index: 2;
    bottom: -20px;
  
 
}
