*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d8f3f7;;
}

.header{
    font-family: "Caveat", cursive;
    text-align: center;
    margin-top: 20px;
    max-width: 60%;
    
}
